@media screen and (max-width:1650px) { 
    .contact-img img{
        transform: scale(1.2);
    }
    
}

@media screen and (max-width:1470px) { 
    .contact-img img{
        transform: scale(1.3);
    }
    
}
@media screen and (max-width:840px) { 
    .contact-img img{
        transform: scale(1.4);
    }
    
}
@media screen and (max-width:740px) { 
    .contact-container{
        width: 70%;
        height: 80vh;
        flex-direction: column;
    }
    .contact-img{
        width: 100%;
        height: 100%;
    }
    .contact-container form{
        width: 70%;
        
    }
    .contact-img img{
        transform: scale(1);
    }
    .space-2{
        height: 0;
    }
}
@media screen and (max-width:560px) { 
    .contact-container form{
        width: 90%;
        
    }
    .contact-container form h1{
        font-size: 35px;
    }


}


@media screen and (max-width:460px) { 
    .contact-container form{
        width: 95%;
        height: 50%;
        
    }
    .contact-container form input{
        height:15%;
    }
    #contactBtn{
        height: 15%;
    }
    .contact-container form h1{
        font-size: 35px;
    }
    .contact-img{
        height: 50%;
    }


}